@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        var isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">
                Hello, @User.Identity?.Name! (Logout)
            </a>
        </li>

        @if (isAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Admin Panel</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Sign in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Sign up</a>
        </li>
    }
</ul>
